#root {
  display: grid;
  width: 85vw;
  column-gap: 1rem;
  row-gap: .5rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #F1FAEE;
  color: black;
}

/*E63946	F1FAEE	A8DADC	457B9D	1D3557 */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fc-selector-component {
  background-color: #A8DADC;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  row-gap: 2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  border-radius: .5rem;
  align-items: center;
}

.fc-selector-input {
  height: 50%;
  border-radius: .5rem;
  font-size: x-large;
  margin-right: 1rem;
}

.fc-selector-selections{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: #A8DADC;
  font-size: x-large;
  border-radius: .5rem;
}

.fc-selector-list-item {
  border-radius: .2rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: white;
}

.fc-selector-list-item:hover {
  background-color: #62AEDC;
}

.path-selector-components {
  background-color: #A8DADC;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  border-radius: .5rem;
  align-items: center;
}

.path-selector-item {
  background-color: white;
  border-radius: .5rem;
  padding: .2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.path-selector-item:hover {
  background-color: #62AEDC;
}

/*This is for the main screen where most of the logic will be processed, containing the different box sizes*/
.selected-path {
  height: 40%;
  background-color: #A8DADC;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: .2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  border-radius: .5rem;
  align-items: center;
}

.path-four-five-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
}

/*Contains styling for stations*/
.stations{
  height: 70vh;
  overflow-y: auto;
  background-color: #A8DADC;
  border-radius: .5rem;
}

.single-box-size{
  border-radius: .2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}